body {
    color: #fff;
    background-color: #1d3557;
    font-family: 'Montserrat', sans-serif;
}

.main-wrapper {
    padding: 2rem;
}

/*-----------------------  
    Modal Winow
----------------------- */ 
.modal .modal-title {
    color: #444;
    font-weight: 600;;
}

/*-----------------------  
    Todo List    
----------------------- */ 
.todolist__header {
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
    justify-content: space-between;
}
.todolist__item {
    display: flex;
    border-radius: 5px;
    padding: .5rem 2rem;
    align-items: center;
    margin-bottom: 1rem;
    background-color: #132237;
    justify-content: space-between; 
}
.todolist__item p {
    margin: 0;
}
.todolist__item div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.todolist__item .todolist__checkitem {
    margin-right: 12px;
}
.todolist__item i {
    cursor: pointer;
}
.task-complete {
    text-decoration: line-through;
}